.container-app {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;
  width: 100vw;
  
  position: relative;
}

.container-app__header {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: darkcyan;

  width: 100vw;
  height: 200px;
}

.content-app input {
  width: 540px;
}

.content-tasks {
  width: 540px;
  height: 439px;
  border-radius: 5px;
  background-color: #fff;

  position: absolute;
  top: 150px;
}

.task-item {
  display: flex;
  align-items: center;
  padding: 20px 24px;

  height: 64px;

  background: #fff;
  border-bottom: 1px solid #e3e4f1;

  font-size: 18px;
  font-weight: 400;
  color: #494c6b;
}